@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #222;
}
.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}
.Loginbox {
  border-radius: 10px;
  width: 300px;
  background-color: #fff;
}
.LoginBoxHeader {
  background-color: rgb(0, 153, 255);
  border-radius: 10px 10px 0 0;
  padding: 20px;
  font-weight: 700;
  color: #fff;
}
.LoginBoxContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.LoginBoxInput {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  padding: 5px;
}
.LoginBoxInput:focus {
  background-color: #ddd;
}
.LoginBoxButton {
  align-self: center;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
